<div class ="form-data">
    <form action ="/courses/create" method ="POST">
        <label for ="txtCourse"> Course </label>
        <input type = "text" name ="course" id ="txtCourse" autofocus required>
        <label for ="txtDescription"> Description </label>
        <input type = "text" name ="description" id ="txtDescription" required>
        
        <buttton type ="submit"> Create </buttton>

    </form>
</div>