<div class ="form-data">
    <form action ="/users/create" method ="POST">
        <label for ="txtFirst"> First </label>
        <input type = "text" name ="first" id ="txtFirst" autofocus >

        <label for ="txtLast"> Last</label>
        <input type = "text" name ="last" id ="txtLast" autofocus >
        <label for ="txtEmail"> Email </label>
        <input type = "email" name ="email" id ="txtEmail" required>
        <label for ="txtZipCode">  Zip Code </label>
        <input type = "text" name ="zipCode" id ="txtZipCode" required>

        <label for ="txtpassword">  Password </label>
        <input type = "text" name ="password" id ="txtpassword" required>

        <button  class="btn btn-lg btn-primary btn" type ="submit">create</buttton>

    </form>
</div>
