<div class ="form-data">
    <form action ="/subscriber/crete" method ="POST">
        <label for ="txtName"> Name </label>
        <input type = "text" name ="name" id ="txtName" autofocus required>
        <label for ="txtEmail"> Email </label>
        <input type = "email" name ="email" id ="txtEmail" required>
        <label for ="txtZipCode">  Zip Code </label>
        <input type = "text" name ="zipCode" id ="txtZipCode" required>
        <buttton type ="submit"> Create </buttton>

    </form>
</div>