<div class ="form-data">
    <form action ="/user/${user._id}/update? _method=PUT" method ="POST">
        <label for ="txtName"> Name </label>
        <input type = "text" name ="name" id ="txtName" autofocus required value ="<%= user.name%>">
        <label for ="txtEmail"> Email </label>
        <input type = "email" name ="email" id ="txtEmail" required value ="<%= user.email%>">
        <label for ="txtZipCode">  Zip Code </label>
        <input type = "text" name ="zipCode" id ="txtZipCode" required value ="<%= user.zipCode%>">
        <buttton type ="submit"> Save </buttton>
 
    </form>
</div>